.todo {
    margin: 10px 0;
    padding: 10px;
    background-color: #222;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo h3 {
    color: orange;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.todo p {
    color: #fff;
    opacity: 0.8;
    letter-spacing: 1px;
}
.todo button {
    color: red;
    font-size: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}